.header{
    color: white;
    text-shadow: 2px 3px 21px rgba(113,78,206,0.86);    
    h1{  
        font-size: 4em;
        font-weight: 800;
        font-style: italic;
        margin: unset;
    }
    h2{
        font-size: 2em;
        margin: unset;
    }
  
}